body {
    font-family: 'Roboto Slab', serif;
}

section {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    padding-bottom: 50px;
}

.home {
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.3);
    color: #ffe0b0;
}

.home img.mainlogo {
    max-width: 90%;
}

.intro-map-bg {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -999;
    background-size: auto 100%;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 6px;
    padding: 0 18px;
    display: inline-block;
    border: 3px solid #FFFFFF;
    border-width: 3px 0;
    letter-spacing: 5px;
}

.about {
    background: url(../img/texture-paper-1.jpg);
}

.about h1 {
    margin-top: 80px;
    font-size: 42px;
    font-weight: bold;
    color: #4b3829;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.about p {
    color: #4b3829;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
}

nav.navig {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: none;
}

nav.navig.active {
    display: block;
}

nav.navig ul {
    list-style: none;
    text-align: center;
}

nav.navig ul li {
    display: inline-block;
}

nav.navig ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 14px 6px;
    margin: 0 20px;
    color: #EEEEEE;
    font-weight: bold: font-size: 13px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-bottom: 0 solid #7B5530;
}

nav.navig a:hover {
    border-bottom: 2px solid #EEEEEE;
}

div.backtohome {
    position: fixed;
    left: 0;
    bottom: -30px;
    text-align: center;
    width: 100%;
}

div.backtohome a {
    text-decoration: none;
    display: inline-block;
    background: #FFFFFF;
    width: 100px;
    height: 100px;
    line-height: 70px;
    font-size: 30px;
    border-radius: 50%;
    color: #333333;
    border: 5px solid #FFFFFF;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

div.backtohome a:hover {
    width: 100px;
    height: 100px;
    bottom: -50px;
    line-height: 70px;
}

div.backtohome a .backclose {
    display: none;
}

.contact_data {
    display: block;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    background: #FCFCFC;
}

.contact_data .ovds {
    padding: 15px 25px;
    display: block;
    background: #8a6649;
    color: #FFFFFF;
}

.contact_data .mobno,
.contact_data .mailo,
.contact_data .facebook,
.contact_data .twitter {
    padding: 14px 0;
    display: block;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.contact_data .mobno {
    background: #614530;
}

.contact_data .mailo {
    background: #563e2b;
}

.contact_data .facebook {
    width: 50%;
    float: left;
    background: #4b3829;
}

.contact_data .twitter {
    width: 50%;
    float: right;
    background: #4b3829;
}

.table {
    display: block;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    background: #544234;
    overflow: auto;
    padding: 20px;
    color: white;
}

.table table {
    width: 100%;
}

.table table td,
.table table th {
    padding: 8px 0;
    border-bottom: 1px solid #666666;
}

.hlite {
    display: block;
    margin: 0 auto;
    width: 750px;
    max-width: 100%;
}

.view {
    width: 100%;
    height: 450px;
    margin: 10px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff url() no-repeat center center
}

.view .mask,
.view .hltcontent {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view .hltcontent {
    padding: 100px;
}

.view img {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100%;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-second img {
    transition: all 0.2s ease-in;
}

.view-second .mask {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.view-second h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
}

.view-second p {
    transform: translate(-700px, 0);
    transition: all 0.2s ease-in-out;
}

.view-second a.info {
    transform: translate(0px, 400px);
    transition: all 0.2s 0.1s ease-in-out;
}

.view-second:hover .mask {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
}

.view-second:hover h2 {
    transform: translate(0px, 0px);
    transition-delay: 0.3s;
}

.view-second:hover p {
    transform: translate(0px, 0px);
    transition-delay: 0.4s;
}

.view-second:hover a.info {
    transform: translate(0px, 250px);
    transition-delay: 0.5s;
}

.event_popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FCFCFF;
    background-image: url(../img/texture-paper-1.jpg);
    overflow: auto;
    display: none;
    z-index: 45;
}

.content {
    padding: 100px 0;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
}

.evntby {
    font-size: 16px;
    letter-spacing: 6px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    color: #000000;
}

.depart {
    text-align: center;
    margin: 0 0 50px;
    font-weight: bold;
    font-size: 40px;
    color: #8b4900;
}

.evnt {
    display: inline-block;
    width: 100%;
    min-width: 280px;
    border-radius: 5px;
    border: 3px solid #8b4900;
    min-height: 100px;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px 0;
    overflow: auto;
    padding-bottom: 20px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.evnt:hover {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.evnt h4 {
    color: #8b4900;
    font-size: 17px;
    padding: 15px 0 5px;
    background: rgba(139, 73, 0, 0.15);
    font-weight: bold;
    margin: 0;
}

.evnt h5 {
    margin: 0;
    color: #222222;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
    background: rgba(139, 73, 0, 0.15);
    border-bottom: 1px dashed #8b4900;
}

.evnt p {
    padding: 10px 25px;
}

.evnt .contact {
    font-weight: bold;
    text-decoration: underline;
    color: #8B4900;
    letter-spacing: 1px;
    font-size: 14px;
}

.evnt button {
    border: none;
    border-radius: 3px;
    font-weight: bold;
    background: #8B4900;
    color: #FFFFFF;
    padding: 6px 20px;
}

.eventclose,
.eventclose:hover,
.eventclose:active,
.eventclose:focus {
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
    color: #FFF;
    position: fixed;
    top: 35px;
    left: 35px;
    background-color: #693802;
    border-radius: 50%;
}

.bgofevent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}